.contact {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 30px;
  background: $color-grey-bg;

  @include xl-min {
    width: calc(50% - 30px);
  }

  &--popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% - 60px);

    @include xl-min {
      width: calc(100% - 120px);
    }
  }

  &--menu {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 12px;
    width: calc(100% - 16px);
    border-radius: 12px 12px 0px 0px;
    background: $color-basic-white;
    color: $color-active-regular;
  }

  &__item {
    padding: 7px 0px;
    align-self: stretch;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;
    border-radius: 12px;
    background: $color-grey-bg;

    &.current {
      color: $color-accent;
    }

    &:hover {
      text-decoration: underline;
      text-underline-offset: 6px;
    }
  }

  &__title {
    position: relative;
    align-self: flex-end;
    font-size: $font-size-xx;
    font-weight: 700;
    @include text_color;
  }

  &__cross {
    @include bg_image;
    align-self: flex-start;
    width: 32px;
    height: 32px;
    background-image: url("../images/cross.svg");
    cursor: pointer;

    &--menu {
      align-self: flex-end;
    }

    &:hover {
      background-image: url("../images/cross_active.svg");
    }
  }

  input,
  textarea {
    padding: 15px;
    background-color: $color-basic-white;
    border: 1px solid $color-basic-white;
    color: $color-grey-text;
    border-radius: 8px;
    font-size: $font-size-md;

    &::placeholder {
      color: $color-grey-text;
    }

    &:invalid {
      outline: 1px solid $color-accent;
    }

    &:focus {
      outline: 1px solid $color-active-regular;
    }

    &.contact__btn {
      @include button_cta;
    }
  }

  textarea {
    height: 130px;
    resize: none;
  }

  .container {
    display: flex;
    flex-direction: column;
    gap: 15px;

    &-sm {
      flex-direction: row;
      min-height: 50px;
      justify-content: space-between;
    }
  }

  &__question {
    color: $color-grey-text;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
}
