.media {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  width: 24px;
  height: 24px;
  @include bg_image;

  &#white {
    background-image: url("../images/facebook_white.svg");

    &:hover {
      background-image: url("../images/facebook_accent.svg");
    }
  }

  &--spec {
    width: 38px;
    height: 38px;
    background-image: url("../images/facebook.svg");

    &:hover {
      background-image: url("../images/facebook_accent.svg");
    }
  }

  &--individ {
    background-image: url("../images/facebook_grey.svg");

    &:hover {
      background-image: url("../images/facebook_accent.svg");
    }
  }

  &#square {
    background-image: url("../images/facebook_spec.svg");
  }

  &#telegrame {
    background-image: url("../images/telegrame.svg");
  }

  &#linkedin {
    background-image: url("../images/linkedin.svg");
  }

  &__title {
    align-self: flex-end;
    color: $color-active-regular;
    text-transform: uppercase;
    font-size: $font-size-xs;
    font-weight: 700;
    line-height: $font-size-md;
    letter-spacing: 1px;
  }
}
