.services {
  display: flex;
  flex-direction: column;
  gap: 30px;

  @include md-min {
    gap: 60px;
  }

  @include xl-min {
    padding: 0 60px;
  }

  @include ul-min {
    padding: 0 160px;
  }

  &--individ {
    padding: 139px 30px 0;

    @include md-min {
      padding: 274px 60px 0;
    }

    @include lg-min {
      padding: 214px 60px 0;
    }

    @include xl-min {
      padding: 170px 180px 0;
    }

    @include ul-min {
      padding: 170px 280px 0;
    }
  }

  &__about {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__link {
    display: flex;
    align-items: center;
    color: $color-active-regular;
    font-size: $font-size-sm;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    width: fit-content;

    &:after {
      content: "";
      display: block;
      height: 13px;
      width: 12px;
      background-image: url("../images/arrow.svg");
    }

    &:hover {
      color: $color-accent;
    }

    &:hover:after {
      background-image: url("../images/arrow_active.svg");
    }
  }

  &__heading {
    @include text_color;
    font-size: $font-size-xl;
    font-weight: 700;

    &--md {
      @include md-min {
        font-size: $font-size-xx;
      }
    }
  }

  &__list {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, auto);
    row-gap: 30px;

    @include md-min {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, auto);
      gap: 60px;
    }

    @include lg-min {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, auto);
    }

    &--individ {
      display: flex;
      flex-direction: column;
      gap: 28px;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: 30px;

    &--spec {
      align-items: center;
      gap: 28px;
    }
  }

  .container-sm {
    display: flex;
    flex-direction: column;
    gap: 15px;

    &--individ {
      align-items: center;
      gap: 28px;
    }
  }

  &__title {
    color: $color-active-regular;
    font-size: $font-size-larger;
    font-weight: 700;
    cursor: pointer;
    transition: color 0.3s;

    &:hover {
      color: $color-accent;
    }

    &--individ {
      @include text_color;
      font-size: $font-size-xl;
      text-align: center;
      cursor: auto;
    }
  }

  &__description {
    color: $color-basic-white;
    font-size: $font-size-md;
    line-height: 26px;

    &--individ {
      text-align: center;
    }
  }

  &__btn {
    @include button_cta;
  }
}
